<div class="tab-pane fade show active" id="tab-pane-1">
    <h4 class="mb-3">Product Description</h4>
    <p>
        Madmext Taş Rengi Basic Erkek Şort 6501
        Geri Bildirim Ver
        Kampanya fiyatından satılmak üzere 10 adetten fazla stok sunulmuştur.
        Bir ürün, birden fazla satıcı tarafından satılabilir. Birden fazla satıcı tarafından satışa sunulan ürünlerin satıcıları ürün için belirledikleri fiyata, satıcı puanlarına, teslimat statülerine, ürünlerdeki promosyonlara, kargonun bedava olup olmamasına ve ürünlerin hızlı teslimat ile teslim edilip edilememesine, ürünlerin stok ve kategorileri bilgilerine göre sıralanmaktadır.
        Bu üründen en fazla 10 adet sipariş verilebilir. 10 adedin üzerindeki siparişleri Trendyol iptal etme hakkını saklı tutar. Belirlenen bu limit kurumsal siparişlerde geçerli olmayıp, kurumsal siparişler için farklı limitler belirlenebilmektedir.
        15 gün içinde ücretsiz iade. Detaylı bilgi için tıklayın.
        Ürün İçeriği - %85 COTTON, %35 POLYESTER Model Ölçüleri - 1,88 cm / 86 kg Numune Bedeni - L Ürün Kodu - 6501 Kalıp - Comfort Fit 30' DERECEDE YIKAYINIZ MADE IN TURKEY.
    </p>
    <p>
        Madmext Taş Rengi Basic Erkek Şort 6501
        Geri Bildirim Ver
        Kampanya fiyatından satılmak üzere 10 adetten fazla stok sunulmuştur.
        Bir ürün, birden fazla satıcı tarafından satılabilir. Birden fazla satıcı tarafından satışa sunulan ürünlerin satıcıları ürün için belirledikleri fiyata, satıcı puanlarına, teslimat statülerine, ürünlerdeki promosyonlara, kargonun bedava olup olmamasına ve ürünlerin hızlı teslimat ile teslim edilip edilememesine, ürünlerin stok ve kategorileri bilgilerine göre sıralanmaktadır.
        Bu üründen en fazla 10 adet sipariş verilebilir. 10 adedin üzerindeki siparişleri Trendyol iptal etme hakkını saklı tutar. Belirlenen bu limit kurumsal siparişlerde geçerli olmayıp, kurumsal siparişler için farklı limitler belirlenebilmektedir.
        15 gün içinde ücretsiz iade. Detaylı bilgi için tıklayın.
        Ürün İçeriği - %85 COTTON, %35 POLYESTER Model Ölçüleri - 1,88 cm / 86 kg Numune Bedeni - L Ürün Kodu - 6501 Kalıp - Comfort Fit 30' DERECEDE YIKAYINIZ MADE IN TURKEY.
    </p>
</div>
